.swiper-wrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
}
.table-group{
    grid-template-columns: 50%;
    font-size: 18px;
    margin: 0px 75px 50px 75px;
    height: 400px;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 3px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
    display: grid;
}
.table-games{
    font-size: 18px;
    margin: 0px 75px 50px 75px;
    height: 400px;
    width: 90%;
    background-color: rgb(185, 184, 184);
    border-radius: 5px;
    border: 3px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
}
.table-games td{
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.table-games h3{
    font-size: 28px;
    margin: 0;
    padding: 10px;
}
.td-tabela{
    height: 30px;
    width: 50px;
    text-align: center;

}
.grid-4{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 36px;
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid-5{
    height: 90%;
    grid-row: 2/2;
    grid-column: 1/2;
}
.grid-6{
    grid-row: 1/span 2;
    grid-column: 2/2;
    margin: 0;
    padding: 5px;
    background-color: rgb(185, 184, 184);
    display: grid;
}
.grid-t1{
    grid-column: 1/2;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t2{
    grid-column: 2/2;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t4{
    grid-column: 2/2;
    grid-row: 2/3;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t5{
    grid-column: 1/span 2;
    grid-row: 3/3;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}