body{
    font-family: 'OpenSans', sans-serif;
    color:rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
}
header{
    top: 0;
}
h1{
    color: white;
    position: relative;
    text-align: center;
}
h2{
    font-size: 2.25rem;
}
.grid-h2{
    margin-top: 6.25rem;
    text-align: center;
}
h3{
    font-size: 1.75rem;
    text-align: center;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.125rem;
    text-align: center;
}
.barra-menu{
    background-color: #52A150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.63rem 0.063rem #000000;
    position: fixed;
    width: 100%;
    height: 4.375rem;
    z-index: 2;
}
.menu{
    margin: 0 2.187rem 0 2.187rem;
    width: 7.182rem;
    color: #FFFFFF;
}
.pesquisa{
    margin: 0 2.187rem 0 2.187rem;
    height: 1.25rem;
    width: 7.182rem;
    border-radius: 0.312rem;
    border: 0.063rem #C7E2C6 solid;
    background-color: #4C844A;
}
ul{
    margin: 0.63rem;
    padding: 0.63rem;
}
.link{
    text-decoration-line: unset;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
ol{
    margin: 1.25rem;
    padding: 0;
}
table{
    margin: 0.63rem;
    padding: 0.63rem;
    background-color: #C7E2C6;
    border-radius: 0.63rem;
    border-color: #2e502d;
    border-spacing: 0;
}
tbody{
    background-color: #FFFFFF;
    border-radius: 0.312rem;
}
footer{
    background-color: #52A150;
    box-shadow: 0 0 0.63rem 0.063rem #000000;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-top: 0.63rem;
}
.td-1{
    background-color: gold;
    width: 2.187rem;
    text-align: center;
    height: 1.25rem;
}
.td-2{
    background-color: silver;
    width: 2.187rem;
    text-align: center;
    height: 1.25rem;
}
.td-3{
    background-color: brown;
    width: 2.187rem;
    text-align: center;
    height: 1.25rem;
}
.fivb{
    text-align: left;
    margin: 0;
}