body{
    font-family: 'OpenSans', sans-serif;
    color:rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
}
header{
    top: 0;
}
h1{
    color: white;
    position: relative;
    text-align: center;
}
h2{
    font-size: 36px;
}
.grid-h2{
    margin-top: 100px;
    text-align: center;
}
h3{
    font-size: 28px;
    text-align: center;
}
.grid-h3{
    margin: 0px 75px 1px 75px;
    padding: 30px 50px 30px 50px;
    font-size: 36px;
    color: #FFFFFF;
    background-color: #2e502d;
    box-shadow: 0px 0px 10px 1px #000000;
    border: 1px #4C844A solid;
    border-radius: 5px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
    text-align: center;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 30px;
    z-index: 1;
    opacity: 0;
}
.nav-menu:hover{
    background-color: rgb(185, 184, 184);
    border: 2px #4C844A solid;
    font-size: large;
    box-shadow: 0px 0px 10px 1px #000000;
    transition: .3s;
    position: fixed;
    top: 70px;
    left: 30px;
    z-index: 2;
    opacity: 1;
}
.barra-menu{
    background-color: #52A150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px 1px #52A150;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 2;
}
.menu{
    margin: 0 35px 0 35px;
    color: #FFFFFF;
}
.pesquisa{
    margin: 0 35px 0 35px;
    height: 20px;
    width: 125px;
    border-radius: 5px;
    border: 1px #C7E2C6 solid;
    background-color: #4C844A;
}
#img-home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 75px 50px 75px;
    padding: 30px 50px 30px 50px;
    background-color: #C7E2C6;
    border-radius: 5px;
    height: 425px;
    border: 1px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
}
#img-principal{
    width: auto;
    height: 350px;
    border-radius: 5px;
    border: 1px #4C844A solid;
}
#img-principal-2{
    width: auto;
    height: 350px;
    border-radius: 5px;
    border: 1px #4C844A solid;
}
#img-noticia{
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 25px #52A150;
    border: 1px #4C844A solid;
}
.img-selecao{
    height: 325px;
    width: 450px;
    border-radius: 5px;
    border: 1px #4C844A solid;
    padding: 30px;
    background-color: #FFFFFF;
}
.escalacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #C7E2C6;
    border: 1px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
    margin: 0px 75px 50px 75px;
    padding: 30px 50px 30px 50px;
    border-radius: 5px;
}
ul{
    margin: 10px;
    padding: 10px;
}
.team-list{
    background-image: url(imagens/quadradevolei.png);
    height: auto;
    width: 400px;
    color: #FFFFFF;
}
.link{
    text-decoration-line: unset;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
ol{
    margin: 20px;
    padding: 0px;
}
.history{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 75px 50px 75px;
    padding: 30px 50px 30px 50px;
    background-color: #C7E2C6;
    border: 1px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 5px;
}
.legenda{
    margin: 25px 100px 25px 60%;
    padding: 0 50px 0 50px;
    width: auto;
    background-color: #C7E2C6;
    border-radius: 5px;
    border: 5px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
}
.noticia{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 75px 0px 75px;
    padding: 30px 50px 30px 50px;  
    border-radius: 15px;
}
.noticia-1{
    display: grid;
    padding: 20px;
    margin: 25px 0 25px 0;
    text-align: justify;
    background-color: #C7E2C6;
    border-radius: 5px;
    border: 1px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
}
.grid-1{
    grid-column: 1/2;
    grid-row: 1/ span 2;
}
.grid-2{
    grid-column: 2/2;
    grid-row: 1/2;
}
.grid-3{
    grid-column: 2/2;
    grid-row: 2/2;
}
.grid-4{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 36px;
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid-5{
    height: 90%;
    grid-row: 2/2;
    grid-column: 1/2;
}
.grid-6{
    grid-row: 1/span 2;
    grid-column: 2/2;
    margin: 0;
    padding: 5px;
    background-color: rgb(185, 184, 184);
    display: grid;
}
.grid-t1{
    grid-column: 1/2;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t2{
    grid-column: 2/2;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t4{
    grid-column: 2/2;
    grid-row: 2/3;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.grid-t5{
    grid-column: 1/span 2;
    grid-row: 3/3;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.trial{
    margin: 0 40px 0 40px;
    text-align: justify;
    font-size: 20px;
}
table{
    margin: 10px;
    padding: 10px;
    background-color: #C7E2C6;
    border-radius: 10px;
    border-color: #2e502d;
    border-spacing: 0px;
}
tbody{
    background-color: #FFFFFF;
    border-radius: 5px;
}
.table-group{
    grid-template-columns: 50%;
    font-size: 18px;
    margin: 0px 75px 50px 75px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 3px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
    display: grid;
}
.td-tabela{
    width: 50px;
    text-align: center;

}
#fale-conosco{
    position: fixed;
    bottom: 0%;
    right: 3%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 32px;
    background-color: #C7E2C6;
    border: 2px #2e502d solid;
    border-radius: 5px 5px 0 0; 
    transition: .2s;
}
#fale-conosco:hover{
    position: fixed;
    bottom: 0%;
    right: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-color: #C7E2C6;
    border: 2px #2e502d solid;
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    transition: .3s;
}
.fale{
    background-color: #52A150;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
footer{
    background-color: #52A150;
    box-shadow: 0px 0px 10px 1px #000000;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-top: 10px;
}
.td-1{
    background-color: gold;
    width: 35px;
    text-align: center;
    height: 20px;
}
.td-2{
    background-color: silver;
    width: 35px;
    text-align: center;
    height: 20px;
}
.td-3{
    background-color: brown;
    width: 35px;
    text-align: center;
    height: 20px;
}
.fivb{
    text-align: left;
    margin: 0;
}
#troca{
    display: flex;
    align-items: center;
    justify-content: space-around;
}