#home{
    display: grid;
    grid-gap: 1.5em;
    margin: 0 2em 1.5em 2em;
    padding: 2em;
    background-color: #C7E2C6;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0.05em #000000;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 2em;
    z-index: 1;
    opacity: 0;
}
.nav-menu:hover{
    background-color: rgb(185, 184, 184);
    border: 0.2em #4C844A solid;
    font-size: large;
    box-shadow: 0 0 0.5em 0.05em #000000;
    transition: .3s;
    position: fixed;
    top: 3.5em;
    left: 2em;
    z-index: 2;
    opacity: 1;
}
.grid-img{
    grid-column: 1/2;
    grid-row: 1/2;
    transition: .3s;
    opacity: .7;
    width: 100%;
    height: 100%;
}
.grid-img:hover{
    transition: .3s;
    transform: scale(1.03);
    opacity: 1;
}
.grid-img2{
    grid-column: 1/2;
    grid-row: 2/2;
    transition: .3s;
    opacity: .7;
    width: 100%;
    height: 100%;
}
.grid-img2:hover{
    transition: .3s;
    transform: scale(1.03);
    opacity: 1;
}
.grid-img3{
    grid-column: 2/2;
    grid-row: 1/2;
    transition: .3s;
    opacity: .7;
    width: 100%;
    height: 100%;
}
.grid-img3:hover{
    transition: .3s;
    transform: scale(1.03);
    opacity: 1;
}
.grid-img4{
    grid-column: 2/2;
    grid-row: 2/2;
    transition: .3s;
    opacity: .7;
    width: 100%;
    height: 100%;
}
.grid-img4:hover{
    transition: .3s;
    transform: scale(1.03);
    opacity: 1;
}
#tatics-img{
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0.05em #000000;
}
#container{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
#container figcaption{
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 2vw;
}
#fundamentos{
    margin: 0 2em 1.5em 2em;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0.05em #000000;
    background-color: #C7E2C6;
}
p{
    font-size: 2vw;
    text-align: justify;
}
#fale-conosco{
    position: fixed;
    bottom: 0%;
    right: 3%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 2em;
    background-color: #C7E2C6;
    border: 0.2em #4C844A solid;
    border-radius: 0.3em 0.3em 0 0; 
    transition: .2s;
}
#fale-conosco:hover{
    position: fixed;
    bottom: 0%;
    right: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 12em;
    background-color: #C7E2C6;
    border: 0.2em #4C844A solid;
    border-radius: 0.3em 0.3em 0 0; 
    color: rgb(255, 255, 255);
    transition: .3s;
}
.fale{
    background-color: #52A150;
    margin: 0;
    padding: .5em;
    font-size: 2vw;
    color: rgb(255, 255, 255);
}