.history{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 75px 50px 75px;
    padding: 30px 50px 30px 50px;
    background-color: #C7E2C6;
    border: 1px #4C844A solid;
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 5px;
}
.history p{
    text-align: justify;
}